<!-- About Section -->
<section id="about" class="section">
  <div class="container">
    <h1>Hi, I'm Eric!</h1>
    <p class="lede">I'm currently a full-stack software engineer at Stripe, where I work on the Terminal Device Management team. 
      In my role, I build tools to allow Stripe customers to manage their fleets of Stripe terminals.
      I graduated in May 2025 from MIT with a B.S. in Computer Science.
    </p>
    <div class="about-meta">
      <a class="btn" href="assets/Eric_Liu_resume.pdf" target="_blank" rel="noopener">View Resume</a>
    </div>
  </div>
</section>
